.HERO {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 18, 18)  ;
    width: 100%;
    margin: auto;
    padding-bottom: 3rem;
}

.HEROContainer {
    background-color:rgb(18, 18, 18);
    margin-bottom: 5rem;
}

.IndexTitre{
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .HERO {
        width: 100%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .HERO {
        display: none;
    }

    .IndexTitre{
        display: block;
    }

}