<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <%- include('partials/bootstrapCDN.ejs') %>

    <title>Inscription</title>
</head>
<body>

    <%- include('partials/navbar.ejs') %>

    <br>
    <h1>Inscription</h1>
    <br>
    
    <form action="/api/inscription" method="post">

        <label for="">Username</label>
        <input type="text" name="username"/>
<br><br>
        <label for="">email</label>
        <input type="email" name="email"/>
<br><br>   
        <label for="">password</label>
        <input type="password" name="password"/>
<br><br>
        <input type="submit" name="Inscription"/>

    </form>






</body>
</html>