<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Bootstrap -->
     <%- include('partials/bootstrapCDN.ejs') %>

    <title>Ajouter un Anime</title>
</head>
<body>
    
    
    <%- include('partials/navbar.ejs') %>
    <br>
    <h1>Ajouter un animé</h1>
    <br>
<form action="/submitAnime" method="post">
    <label for="">Anime : </label>
    <input type="text" name="anime">
 <br><br>
    <label for="">Année de diffusion : </label>
    <input type="number" min="1950" max="2099" step="1" name="diffusion">
  <br><br>
    <label for="">genre : </label>
    <input type="text" name="genre">
  <br><br>
    <label for="">Bref description : </label> <br>
    <textarea name="description" id="" cols="30" rows="10" resize></textarea>
    <br><br>
    <input type="submit" value="Valider">
</form>

</body>
</html>